<dialog id="deleteModal" closedby="any">
  <h2>Delete?</h2>
  <p>Are you sure you want to delete <span id="fileToDeleteName"></span> ?</p>
  <div>
    <button commandfor="deleteModal" command="close" type="button">
      Cancel
    </button>
    <button type="button" id="confirmDelete" command="close" type="button">
      Delete
    </button>
  </div>
</dialog>
