<header>
  <nav>
    <h2>PlaceHolder</h2>
    <div>
      <ul>
        <li>
          <a href="/">Homepage</a>
        </li>
        <% if (isAuthenticated) { %>
        <li>
          <a href="/files/">My Files</a>
        </li>
        <li>
          <form method="POST" action="/logout">
            <button type="Submit">
              Log Out
            </button>
          </form>
        </li>
        <% } else { %>
        <li>
          <a href="/login">Log In</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
        <%} %>
      </ul>
    </div>
  </nav>
</header>
