<header>
  <nav>
    <h2>PlaceHolder</h2>
    <div>
      <ul>
        <li>
          <a href="/">Homepage</a>
        </li>
        <li>
          <a href="/login">Log In</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
        <li>
          <a href="/files">My Files</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
