<div id="customMenu" class="custom-menu">
  <ul class="custom-menu-list">
    <li>
      <button
        type="button"
        id="openDeleteModalBtn"
        commandfor="deleteModal"
        command="show-modal"
      >
        Delete
      </button>
    </li>
    <li>
      <button
        type="button"
        id="openUpdateModalBtn"
        commandfor="updateModal"
        command="show-modal"
      >
        Rename
      </button>
    </li>
  </ul>
</div>
