<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <%- include("./elements/header.ejs") %>
    <main>
      <h1>PlaceHolder</h1>
      <div>
        <button type="button" id="addFolder">Add Folder</button>
        <button type="button" id="addFile">Add File</button>
      </div>
      <%- include("./elements/addModal.ejs") %>
      <section>

      </section>
    </main>
    <%- include("./elements/footer.ejs") %>
  </body>
</html>