<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css"> 
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>FileSpace - HomePage</title>
  </head>
  <body>
    <%- include("./elements/header.ejs") %>
    <main>
      <h1>FileSpace</h1>
    </main>
    <%- include("./elements/footer.ejs") %>
  </body>
</html>
