<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css"> 
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="/scripts/logIn.js" type="module" defer></script>
    <title>FileSpace - Log In</title>
  </head>
  <body>
    <%- include("./elements/header.ejs") %>
    <main>
      <h1>FileSpace</h1>
      <form id="loginForm" autocomplete="off">
        <p>Log In</p>
        <%- include("./elements/input.ejs", {id: "email", text: "Email", type: "email", name: "email"}) %>
        <%- include("./elements/input.ejs", {id: "password", text: "Password", type: "password", name: "password"}) %>
        <button type="submit">Log In</button>
      </form>
    </main>
    <%- include("./elements/footer.ejs") %>
  </body>
</html>
